<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-primary" v-on:click="onsubmit">Simpan</button>
                <input class="form-control" v-model="nama" placeholder="Masukkan nama evaluasi (contoh: UTS, UAS)" type="text">
                <soal-editor v-on:delete-soal="deleteSoal(data.id) " v-on:on-change="onChange"  v-bind:key="index" v-for="(data,index) in soal" v-bind:soal="data"></soal-editor>

                <button  v-on:click="addSoal" class="btn btn-primary">Tambah</button>
            </div>
        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    Loading....
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import SoalEditor from './SoalEditor.vue';
    export default {
        props : ['postUrl','redirectUrl','edit','getUrl'],
        data : function(){
            return {
                soal : [
                    {
                        id_soal : "",
                        id: 0,
                        soal: "",
                        jawaban: {
                            list: [],
                            benar : 0
                        }
                    }
                ],
                edit_id : "new",
                loading : false,
                index : 0,
                nama : ""
            }
        },
        components : {
            'soal-editor' : SoalEditor
        },
        mounted() {


        },
        created(){
            var self = this;
            if(this.edit){
                axios.get(this.getUrl).then(function (response) {
                    self.soal = response.data.soal;
                    self.nama = response.data.nama;

                }).catch(function (error) {
                    console.log(error);
                });

            }

        },
        methods : {
            addSoal : function(event){

                this.index++;
                var data =  {
                    id_soal : "-1",
                    id: this.index,
                    soal: "",
                    jawaban: {
                        list: [],
                        benar : 0
                    }
                };
                this.soal.push(data);
                console.log(this.soal);

            },
            onChange : function(event){
                var index = -1;
                for(var i = 0; i <this.soal.length;i++){
                    if(this.soal[i].id == event.id){
                        index = i;
                        break;
                    }
                }
                var newdata =  Object.assign({}, this.soal[index], { soal : event.soal})
                this.$set(this.soal,index,newdata);

            },
            deleteSoal : function(event){
                console.log(event);
                this.soal = this.soal.filter(function (item) {
                    return item.id !== event;
                });
            },
            onsubmit : function(){
                this.loading = true;
                var self = this;
                $(".bs-example-modal-sm").modal({
                    backdrop: 'static',
                    keyboard: false
                });

                axios.post(this.postUrl, {
                    soal : this.soal,
                    nama : this.nama
                })
                    .then(function (response) {

                        $(".bs-example-modal-sm").modal('toggle');
                        if(!self.edit){
                            window.location = self.redirectUrl;
                        }

                    })
                    .catch(function (error) {
                        $(".bs-example-modal-sm").modal('toggle');
                        alert(error);
                    });
            }
        }
    }
</script>
