<template xmlns:v-on="http://www.w3.org/1999/xhtml">

    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">Jawaban</div>

                <div class="panel-body" >
                    <ol>
                        <li v-for="(data, index) in soal">
                            {{index+1}}. {{ abjad[data.terjawab] }}
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-10 ">
            <div class="panel panel-default">
                <div class="panel-heading">Soal</div>

                <div class="panel-body" >
                    <soal v-bind:soal="soal[index].soal"></soal>
                    <jawaban-container v-on:onchange="onchange" v-bind:pilihan="soal[index].terjawab" v-bind:jawaban-list="soal[index].jawaban"></jawaban-container>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-4 col-md-offset-2">
                            <button style="padding:10px 30px" v-on:click="prev" v-if="index > 0 ">Prev</button>
                        </div>

                        <div class="col-md-4 col-md-offset-2">
                            <button style="padding:10px 30px" v-on:click="next" v-if="index < soal.length-1">Next</button>
                            <button style="padding:10px 30px" v-on:click="submit" v-if="index == soal.length-1">Kirim</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-nilai" style="top:123px" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <h2 id="nilai" style="padding:50px"></h2>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    import Soal from './Soal.vue';
    import JawabanContainer from './JawabanContainer.vue';
    export default {
        components:{
            'jawaban-container':JawabanContainer,
            'soal':Soal
        },
        props : ["postUrl","getUrl"],
        mounted() {
            console.log('Component mounte.');
        },
        created(){
            var self = this;
          axios.get(this.getUrl,{}).then(function(response){

              console.log(response.data);
              self.soal = response.data.soal;
          }).catch(function(error){
              console.log(error);
          });
        },
        data : function(){
            return {
                soal : [
                    {
                        soal : "Apakah itu ?",
                        jawaban : ["Ayam","Bebek","Pensil","Beruang","Teddy Bear"],
                        terjawab : -1
                    },
                    {
                        soal : "Apakah itu2 ?",
                        jawaban : ["Ayam","Bebek","Pensil","Beruang","Teddy Bear"],
                        terjawab : -1
                    }
                ],
                index : 0,
                abjad : ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]


            };
        },
        methods : {
            next : function(event){
                this.index++;

            },
            prev : function(event){
                this.index--;
            },
            onchange : function(data){
                this.soal[this.index].terjawab = data;
            },
            submit : function(event){
                var self = this;
                console.log({ soal : this.soal});
                axios.post(this.postUrl,{ soal : this.soal}).then(function(response){
                    $("#nilai").html("NILAI : "+response.data.nilai);
                    $('.modal-nilai').modal("toggle");


                }).catch(function(error){
                    console.log(error);
                });
            }

        },
        computed: {

        }
    }
</script>
