<template>
    <div class="row" id="forum">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <postform v-on:newmessage="submitMessage" v-bind:post-url="createMessageUrl"></postform>
            <postcontainer v-bind:messages="messages"></postcontainer>
        </div>
        <div class="col-md-3"></div>
    </div>
</template>

<script>
    import PostForm from './PostForm.vue';
    import PostContainer from './PostContainer.vue';

    export default {
        props : ['createMessageUrl','getUrl','idKelas'],
        components:{
            'postform':PostForm,
            'postcontainer':PostContainer
        },
        data : function(){
            return {
                messages : []
            };
        },
        mounted() {
            var self = this;
            axios.get(this.getUrl).then((response) => {
                _.forEach(response.data,function(item){
                    self.messages.push(item);
                })
            });
            console.log('pesan.'+self.idKelas);
            Echo.private('pesan.'+self.idKelas)
                .listen('NewMessage', (item) => {
                    console.log(item.pesan);
                    self.messages.push(item.pesan);
                });
        },

        methods : {
            submitMessage : function(msg){
                //this.messages.push(msg)
            }
        },

    }
</script>
