<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
  <input v-bind:checked="pilih" v-on:click="clicked" type="checkbox">{{ jawaban }}

    </div>

</template>
<script type="text/javascript">


export default {
    props : ['jawaban','index','pilih'],

    mounted() {
        console.log('Component mounted.')
    },
    data : function(){
      return {
          mPilih : this.pilih
      }
    },
    methods : {
        clicked : function(event){

            this.$emit('onchange',{ pilih : this.mPilih , index : this.index});
        }
    },
    computed: {
        // a computed getter
        checked: function () {
            if(this.pilih){
                return "checked";
            } else {
                return "";
            }
        }
    }


}
</script>
