<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <li><input type="checkbox" v-bind:checked="pilih" v-on:click="onchange">{{ jawaban }}<button v-on:click="remove" class="btn btn-danger">Hapus</button></li>

</template>

<script>
    export default {
        props : ["jawaban","pilih"],
        mounted() {
            console.log('Component mounted.')
        },
        methods : {
            remove : function(event){
                this.$emit('remove');
            },
            onchange : function(event){
                this.$emit('onchange');
            }
        }
    }
</script>
