<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
<ul>

    <li  v-for="(data,index) in jawaban.list">
        <input  v-bind:checked="jawabanChecked[index]" v-on:click="onchange(index)"  type="checkbox">{{ data }}<button v-on:click="jawaban.list.splice(index,1)" class="btn btn-danger">Hapus</button>

    </li>


</ul>
<div class="row" >
    <div class="col-md-4">
        <input  class="form-control" v-model="newjawaban" placeholder="jawaban..." name="jawaban">
    </div>
    <button class="btn btn-default" v-on:click="insert">Tambah</button>

</div>
    </div>
</template>
<script>
    import JawabanEditor from './JawabanEditor.vue'
    export default {
        components :{
          'jawaban' : JawabanEditor
        },
        data : function(){
            return {
                newjawaban : '',
                pilih : []
            }
        },

        props : ['jawaban'],
        mounted() {
            console.log('Component mounted.')
        },
        methods : {
            insert : function(){
                this.jawaban.list.push(this.newjawaban);
                this.newjawaban = "";
            },
            onchange : function(index){
                this.jawaban.benar = index;
                for(var i=0;i<this.jawaban.list.length;i++){
                    if(i == this.jawaban.benar){
                        this.$set(this.pilih,i,"checked");
                    } else {
                        this.$set(this.pilih,i,"");
                    }
                }
                console.log(this.pilih);

            }

        },
        computed : {
            jawabanChecked : function(){
                var data = [];
                for(var i=0;i<this.jawaban.list.length;i++){
                    if(i == this.jawaban.benar){
                        data[i] = "checked";
                    } else {
                        data[i] = "";
                    }
                }
                return data;
            }
        }
    }
</script>
