<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
        <div v-for="(value,key) in jawabanList">
            <input v-on:click="onchange(key)"  type="checkbox" v-model="pilih[key]" >{{ abjad[key] }}. {{ value }}
        </div>

    </div>

</template>
<script type="text/javascript">

    import Jawaban from './Jawaban.vue';
    export default {
        props : ['jawabanList','pilihan'],
        components:{
            'jawaban':Jawaban

        },
        data : function(){

            return {
                pilih : {},
                abjad : ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]



            }
        },
        created(){
            for (var i = 0; i < this.jawabanList.length; i++) {

                this.$set(this.pilih, i, "");
            }
        },
        watch: {
            pilihan: function (val) {
                for (var i = 0; i < this.jawabanList.length; i++) {
                    if(i == val){
                        this.pilih[i] = true;
                    } else {
                        this.pilih[i] = false;
                    }
                };
            }
        },

        methods : {
            onchange : function(data){
                for (var i = 0; i < this.jawabanList.length; i++) {
                    if(i == data){
                        this.pilih[i] = true;
                    } else {
                        this.pilih[i] = false;
                    }
                };
                this.$emit('onchange',data);

            },
            cobaClick : function(){

                this.pilih[0] = true;
            }
        }



    }
</script>
