<template >
  <div id="post-container" class="row">
    <div class="col-md-12">
      <post  v-for="msg in reversedMessage" v-bind:message="msg.pesan" v-bind:username="msg.username"></post>

    </div>
  </div>
</template>
<script>

    import Post from './Post.vue'
    export default {
      components:{
        'post':Post

      },
       props: ['messages'],
        mounted() {
            console.log('Component mounted.')
        },
        data: function () {
            return {}
          },
      computed: {
        // a computed getter
        reversedMessage: function () {
          return this.messages.slice().reverse();
        }
      }
    }
</script>
