<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div id="post-form" class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <textarea class="form-control" v-model="message" rows="3" placeholder="Tuliskan pesan anda disini...."></textarea>
          <div id="btn-post">
          <div class="pull-left">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
            </button>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" v-on:click="submitMessage" id="btn-kirim">Kirim</button>
          </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</template>

<script>

    var data = {
        message : ""
    }
    export default {
        props: ['postUrl'],
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            submitMessage: function () {
                var self = this;
                axios.post(this.postUrl,{  'pesan':this.message }).then((response) => {
                    this.$emit('newmessage',response.data);
                    self.message = '';
                }).catch(function (error) {
                    console.log(error);
                });


            }
        },
        data : function(){
            return data;
        }
    }
</script>
