<template >
  <div class="panel panel-default post-panel">
    <div class="panel-heading">{{ username }}</div>
    <div class="panel-body">
      {{ message }}
    </div>
    <div class="panel-footer">
      <div class="row" style="margin-left:5px">
      <div class="pull-left">
        <a>Like</a> <a>Reply</a> <a>Share</a> <a>Follow</a>
      </div>
      <div class="pull-right">
      </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">


export default {
    props : ['message','username'],
    mounted() {
        console.log('Component mounted.')
    },


}
</script>
