<template >
  <div>
      {{ soal }}
  </div>
</template>
<script type="text/javascript">


export default {
    props : ['soal'],

    mounted() {
        console.log('Component mounted.')
    },


}
</script>
