<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div class="panel panel-default">


    <div class="panel-body">
        <button class="btn btn-danger" v-on:click="deleteSoal">Hapus</button>
        <textarea class="form-control" v-model="soal.soal"  placeholder="Masukkan soal...." name="soal" id="soal" ></textarea>
        <jawaban-editor v-bind:jawaban="soal.jawaban"></jawaban-editor>

    </div>
</div>
</template>
<script type="text/javascript">

    import JawabanEditor from './JawabanContainerEditor.vue';
    export default {
        props : ['soal'],
        components : {
            'jawaban-editor' : JawabanEditor
        },
        data : function(){
          return {
              pertanyaan : ""
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
            this.pertanyaan = this.soal.soal;
        },
        methods : {
            deleteSoal : function(event){

                this.$emit('delete-soal');
            },
            onChange : function(event){
                this.$emit('on-change',{ id : this.soal.id, soal : this.pertanyaan });
            }
        }


    }
</script>
