

/*----------------------------------------------------------------------*/

/*-------------------------------MODAL STYLE----------------------------*/
.modal{
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:scrol;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
.modal_content{
	background-color:#fefefe;
	margin:15% auto;
	padding:20px;
	border: 1px solid #888;
	width:80%;
	box-shadow:0 0 0.5px red,0 0 2px red,0 0 2px red,0 0 20px red;
}
div#modal_title{
	width:100%;
	height:50px;
	background-color:#DDD;
	padding:left;
}
div#modal_title_text,.close{
	display:inline;
}
div#modal_title_text{
	text-align:center;
	font-family:Arial;
	font-size:25;
	font-weight:bolder;
	text-shadow:3px 3px 3px grey;
	margin:10;

}
.close:hover,.close:focus{
	color:black;
	text-decoration:none;
	cursor:pointer;
	color:red;
}
.close{
	float:right;
}
/*----------------------------------------------------------------------*/
